{:migrators {:sql-mig "_/migrators/sql" ;; A classpath for a folder with
                                        ;; migration files, first part (_/) is
                                        ;; ignored by joplin.
             }
 :path "src/joplin" ;;Aum replaces _ with path when creating new migrations.

 :seeds {:sql-seed "seeds.sql/run"} ;; A clojure var (function) that applies the seed
 :databases {:aum-minimal {:type :jdbc,
                           :db-spec {:db-user "root" :db-password "irma" :db-name "aum_minimal"
                                     :db-options "&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull&useSSL=false&characterEncoding=UTF-8"
                                     :db-url "//localhost:3306/"}
                           :migrations-table "joplin_migrations"}
             :aum-dev {:type :jdbc,
                       :db-spec {:db-user "root" :db-password "irma" :db-name "aum_dev"
                                 :db-options "&serverTimezone=UTC&zeroDateTimeBehavior=convertToNull&useSSL=false&characterEncoding=UTF-8"
                                 :db-url "//localhost:3306/"}
                       :migrations-table "joplin_migrations"}}

 ;; We combine the definitions above into different environments
 :environments {:dev [{:db :aum-minimal, :migrator :sql-mig :seed :sql-seed}
                      {:db :aum-dev :migrator :sql-mig :seed :sql-seed}
                      ]
                ;; :prod [{:db :sql-prod, :migrator :sql-mig}
                ;;        {:db :es-prod}, ;; :seed :es-seed
                ;;        ]
                }
 }
