html {
    background-color: white;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.ui.progress .bar {
    min-width: 0;
}

.ui.dimmer {
    z-index: 5000000;
    background-color: rgba(0, 0, 0, 0.00);
}
