;; The deps.edn file describes the information needed to build a classpath.

;; https://clojure.org/guides/deps_and_cli
;; https://clojure.org/reference/deps_and_cli
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
 ;; Paths
 ;;   Directories in the current project to include in the classpath
 :paths [
         "src/main"
         "src/styling"
         "resources" ;;public dir for server and config files

         ;;Soft links to deps for local development
         "src/aum"
         "src/clj-utils"
         "src/revolt"
         "src/joplin"

         "src/dev"
         "src/frontend"
         "target/assets"
         ]

 :deps {clj-utils {:local/root "../pagora.clj-utils"
                   :mvn/version "0.0.0"
                   }

        aum {:local/root "../pagora.aum"
             :mvn/version "0.0.0"
             }

        revolt {:local/root "../pagora.revolt"
                :mvn/version "0.0.0"
                }

        ;; clj-utils {:git/url "git@github.com:michieljoris/pagora.clj-utils"
        ;;            :sha "??"
        ;;            :mvn/version "0.0.0"
        ;;            }

        }

 :aliases {:revolt {:main-opts   ["-m" "pagora.revolt.bootstrap"
                                  "-c" "revolt.edn"]
                    :extra-deps { defunkt/revolt {:mvn/version "1.3.3"}}
                    }
           ;; dependencies for packaging tasks
           :pack { :extra-deps {co.paralleluniverse/capsule {:mvn/version "1.0.3"}
                                co.paralleluniverse/capsule-maven {:mvn/version "1.0.3"}}
                  ;; :main-opts   ["-m" "pagora.revolt.bootstrap"
                  ;;               "-c" "revolt.edn"]
                  }
           :joplin {:main-opts ["-m" "pagora.aum.modules.db-migration.joplin.alias"]}}

 ;; Provider attributes

 ;; :mvn/repos {
 ;;   "central" {:url "https://repo1.maven.org/maven2/"}
 ;;   "clojars" {:url "https://repo.clojars.org/"}
 ;; }
 }
