{:main cljs.user ;; require app.frontend.core in this ns to pull in all dependencies for the app
 :output-to "target/assets/public/app/app.js"
 :output-dir "target/assets/public/app/out"
 :asset-path "app/out",
 :parallel-build       true
 :devcards             true
 :verbose              false
 :compiler-stats       true
 :source-map-timestamp true
 ;; https://github.com/bhauman/lein-figwheel/issues/88
 ;; :closure-defines {"goog.DEBUG" false}
 :recompile-dependents false
 :pretty-print         true
 :fn-invoke-direct true
 ;; :pseudo-names true
 :external-config      {:devtools/config {:features-to-install    [:formatters :hints]
                                          :fn-symbol              "F"
                                          :print-config-overrides true}}
 ;; :preloads [devtools.preload]
 :preloads [pagora.aum.dev.core]
 :aot-cache false,
 :infer-externs true
 ;; :externs [;; "foreign-libs.ext.js"
 ;;           ;; "cryptojs.ext.js"
 ;;           "semantic-ui-react.ext.js"
 ;;           "moment.ext.js"
 ;;           "react.ext.js"
 ;;           "react-dom.ext.js"]
 :foreign-libs [
                ;; {:file "foreign-libs/bugsnag.js" :provides ["js.npm.bugsnag"]}

                ;;unused
                ;; {:file "node_modules/cryptojs/lib/Crypto.js"
                ;;  :provides ["cryptojs.core"]}
                ;; {:file "node_modules/cryptojs/lib/MD5.js"
                ;;  :provides ["cryptojs.md5"]
                ;;  :requires ["cryptojs.core"]}

                ;; Needed for snapshot tests and test-runner
                {:file "node_modules/alasql/dist/alasql.js"
                 :provides ["js.alasql"]
                 ;; :global-exports {js.alasql ???}
                 }
                ;; {:file "node_modules/lz-string/libs/lz-string.js" :provides ["aum.js.lz-string"]}
                ;; {:file "aum/js/setImmediate.js" :provides ["aum.js.setimmediate"]}
                ;; {:file "aum/js/diff_match_patch.js" :provides ["aum.js.diff-match-patch"]}
                ;; {:file "aum/js/highlight.js" :provides ["aum.js.highlight"]}
                ;; {:file "aum/js/vkbeautify.js" :provides ["aum.js.vkbeautify"]}

                ;;webpacked:
                {:file "foreign-libs/index.bundle.js"
                 :provides ["js.react"
                            "js.react-dom"
                            "js.moment"
                            "js.react-datetime"
                            "js.semantic-ui-react"
                            "js.ag-grid-react"]
                 :global-exports {js.react React
                                  js.react-dom ReactDOM
                                  js.moment moment
                                  js.react.datetime ReactDatetime
                                  js.semantic-ui-react semanticUIReact
                                  js.ag-grid-react AgGridReact
                                  }}]}
