{
 :watch-dirs [;; "src"
              "src-frontend"
              ;; "libs-src"
              "src-aum"
              "src-clj-utils"
              "src-dev"
              ]
 :css-dirs ["target/assets/public/app"]
 :open-url false ;;"http://localhost:[[server-port]]/app.html"
 ;; :pprint-config true
 ;; :reload-dependents true
 :reload-clj-files #{:cljc}
 ;; :reload-clj-files true
 :client-log-level :warning

 ;; :log-level :error
 :rebel-readline true

 }
