$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cached: "\e900";
$icon-download: "\e90b";
$icon-drawer: "\e90b";
$icon-save: "\e90b";
$icon-store: "\e90b";
$icon-archive: "\e90b";
$icon-clear: "\e902";
$icon-menu: "\e903";
$icon-redo: "\e904";
$icon-edit: "\e905";
$icon-save11: "\e906";
$icon-undo: "\e907";
$icon-add: "\e908";
$icon-return: "\e909";
$icon-search: "\e90a";
$icon-notification: "\ea08";
$icon-loop2: "\ea2e";
$icon-clock-o: "\e90e";

